@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Raleway:wght@400;700&display=swap");

* {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	/* position: relative; */
}
/* header{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 84%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(-90deg,rgb(145, 55, 229)65%, white 35%);
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    
} */
.sticky {
	transition: 0.5s;
	background: white;
	box-shadow: 2px 2px 10px gray;
}
.sticky .mainmenu li a {
	color: blueviolet;
}

/* .d-none {
    display: none;
}

.logo{
    text-decoration: none;
    font-size: 35px;
    font-weight: 1000;
    color:rgb(145, 55, 229);
}

nav a{
    text-decoration: none;
    margin-left: 35px;
    color: white;
    font-size:20px;
    font-weight: bold;
}
.hamburgerbar{
    display: none;
    color: blueviolet;
}

nav a:hover{
    color: rgb(46, 44, 44);
    
} */

.sectionflex {
	height: 100vh;
	background: linear-gradient(-90deg, rgb(145, 55, 229) 65%, white 35%);

	padding: 0 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.firstsection h1 {
	margin: 0;
	font-size: 50px;
	color: white;
	letter-spacing: 3px;
}
.firstsection h3 {
	font-size: 30px;
	color: white;
	letter-spacing: 3px;
}
.firstsection p {
	color: white;
	letter-spacing: 2px;
}
.image {
	height: 350px;
	width: 350px;
	background-color: white;
	border-radius: 100%;
	border: 25px solid white;
	margin-left: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* outline: 25px solid rgb(145, 55, 229); */
	animation: animate 2s forwards;
	/* z-index: -1; */
}
.image img {
	border-radius: 50%;
	width: 350px;
	height: 350px;
	animation: animate1 3s;
}
/* remove duplicate keyframes */
/* @keyframes animate {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(100px) rotate(360deg);
	}
} */
/* @keyframes animate1{
    0%{
        transform: rotate(220deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */
.info {
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 600px;
}
.info a {
	color: white;
	font-size: 30px;
	margin-left: 30px;
}
.sectionbutton {
	padding: 10px;
	color: white;
	background-color: rgb(98, 14, 177);
	margin-top: 30px;
	font-size: 20px;
	border: 1px solid rgb(100, 20, 175);
	cursor: pointer;
	border-radius: 5px;
}
.sectionbutton:hover {
	background-color: rgb(46, 44, 44);
	transition: 0.5s;
}
.projectflex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
}
.myproject {
	padding: 80px 8%;
	background-color: azure;
}
.myproject h1 {
	text-align: center;
	margin-bottom: 70px;
	font-size: 50px;
	/* font-weight: 3000; */
	/* color: rgb(145, 55, 229); */
	color: black;
	/* text-shadow: 2px 1px 20px; */
}
.imageproject {
	width: 340px;
	position: relative;
	border-radius: 10px;
}
.myproject img {
	width: 100%;
	height: 280px;
	border-radius: 10px;
}

.content {
	background-color: rgb(145, 55, 229);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	border-radius: 10px;
	clip-path: circle(10% at 0% 0%);
	transition: 1s;
}
.content p {
	padding: 0 10px;
	text-align: center;
	font-size: 20px;
	color: white;
	margin-bottom: 50px;
}

.imageproject:hover .content {
	opacity: 1;
	clip-path: circle(75%);
}
.projectbutton {
	padding: 0 10px;
	font-size: 20px;
	color: white;
	height: 50px;
	background-color: transparent;
	border: 3px solid white;
	border-radius: 30px;
	cursor: pointer;
	margin: 0;
}
.projectbutton:hover {
	background-color: blueviolet;
}
.seemore {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
.seemore button {
	width: 130px;
	height: 50px;
	text-align: center;
	border-radius: 15px;
	font-size: 17px;
	color: white;
	background-color: rgb(145, 55, 229);
	border: 1px solid rgb(100, 20, 175);
}
.seemore button:hover {
	background-color: rgb(46, 44, 44);
	transition: 0.5s;
}
.bgAnimation {
	position: relative;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	background-color: white;
	/* filter: saturate(2); */
	overflow: hidden;
}
.colorBox {
	z-index: 2;
	filter: brightness(1.1);
	transition: 2s ease;
	position: relative;
	margin: 2px;
	background: white;
}
.colorBox:hover {
	background: blueviolet;
	transition-duration: 0s;
}
.backgroundAmin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: blueviolet;
	filter: blur(60px);
	animation: animBack 6s linear infinite;
}
@keyframes animBack {
	0% {
		top: -100px;
	}
	100% {
		top: 120%;
	}
}
.paramain p {
	color: black;
	z-index: 99;
	font-size: 80px;
	font-weight: bolder;
	text-shadow: 4px 3px rgb(211, 203, 203);
	margin: 0;
}
.paramainflex {
	position: absolute;
	top: 30%;
	left: 30%;
	z-index: 99;
}
.paramain {
	/* position: absolute; */
	z-index: 99;
}
.parabtn {
	display: flex;
	justify-content: center;
}
.parabtn button {
	margin-top: 50px;
	height: 50px;
	width: 150px;
	border-radius: 3px;
	font-size: 25px;
	background: whitesmoke;
	border: 0.5px solid gray;
}
.parabtn button:hover {
	background-color: white;
}
